:root {
  --primary-color: #111111;
  --secondary-color: #ECECEC;
  --accent-color: #CFB47D;
  --error-color: #EB5757;
  --disabled-color: #F6F5F6;
  --gray-color: #5B5B5B;
  --text-link-color: #0E296E;
  --text-color: #111111;
  --text-sub-color: #7C7C7C;
  --text-gray-color: #5B5B5B;
  --text-light-gray-color: #ECECEC;
  --text-white-color: #FFFFFF;
  --button-round-radius: 4px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
